body {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    overflow: hidden;
}
#loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    width: 350px;
    height: 350px;
    padding: 2%;
    color: #fff;
}

input {
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    border: 0px;
    outline-color: bisque;
}
button {
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    border: 0px;
    background-color: antiquewhite;
}